<%= simple_form_for @picture, html: { multipart: true } do |p| %>
  <% if @picture.errors.any? %>
    <div id="errors">
      <p>@picture.errors.count Prevented this picture from saving</p> 
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li>msg</li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      
      <div class="small-6 columns">
        <div class="row">
          <div class="small-8 columns"> 
            <%= p.input :title, input_html: { class:"input" } %>
            <%= p.input :description, input_html: { class:"input" } %></div>
            <%= p.input :image %>
          </div>
        </div>
      </div>

      <div class="small-6">
        <div class="row">
            <div class="small-6 small-offset-4 columns">
              <br>
              <%= p.button :submit, class:"button success radius small" %>
            </div>
        </div>
      </div>
      
    </div>
<% end %>