<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="large-12 navbar-main">
          <div class="medium-4 columns">
            <div class="left" style="padding-top: 0.5rem">
              <%= link_to "Location Ile de Ré", root_path %>
            </div>
          </div>
          <% if user_signed_in? %>
          <div class="medium-8 columns right" style="padding-top: 0.35rem;">
            <div class="text-right">
              <%= link_to "Add Picture", new_picture_path, class: 'button radius tiny user_action' %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'button radius tiny user_action' %>
            </div>
          </div>
          <% else %>
            <div class="medium-8 columns right" style="padding-top: 0.35rem">
              <div class="text-right">
                <%= link_to "Sign Up", new_user_registration_path, class: 'button radius tiny user_action' %>
                <%= link_to "Sign In", new_user_session_path, class: 'button radius tiny user_action' %>
              </div>
            </div>
          <% end %>
    </div>
    <div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
